@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;;
    width: 100%;
}


header{
   
    width: 1920px;
    height: 140px;
    background: silver;
    margin-bottom: 32px;
    box-shadow: 0px 0px 30px #04A596, 0px 0px 10px silver;
}

.foto-logo {
    width: 700px;
    margin-top: 20px;
}

.foto-logo:hover {
    transform: scale(1.1);
}



nav   {
    position: absolute;
    top: 50px;
    right: 0;
 
}
.container-grid {
    position: relative;
    margin: 0 30px;
   

}


nav a {
    position: relative;
    right: 200px;
    color: #04A596;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 0 15px;
 }
nav a:hover{
    color: white;
    
}

p {
    font-size: 30px;
    color: #04A596;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.banner {
    display: flex;
    margin-top: 80px;
    margin-bottom: 32px;
    box-shadow: 0px 0px 30px #04A596, 0px 0px 10px silver;
}

#carrosel img {
    display: none;
}

.banner-ativo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    box-shadow: 0px 0px 30px #04A596, 0px 0px 10px silver;
    width: 1920px;
    height: 600px;

}
.menu-barras {
    display: none;
}


.link {
    color: #04A596;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: silver;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 32px;
    box-shadow: 0px 0px 30px #04A596, 0px 0px 10px silver;
}



.link-click {
    text-align: center;
    margin-top: 80px;
 
 
}




.plataformas {
    display: flex;
    margin-top: 100px;
    
    justify-content: center;
    background-color: silver;
    padding: 70px;
    width: 1920px;
    margin-bottom: 32px;
    box-shadow: 0px 0px 30px #04A596, 0px 0px 10px silver;
}

.titulo {
    display: flex;
    color: #04A596;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    
}


.plataformas a {
    margin: 0 200px;
    margin-top: 100px;
    
    justify-content: center;
}


.noticias {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
    width: 1920px;
}


.noticias h3 {
    font-size: 15px;
}



.noticias p {
    font-size: 12px;
    display: flex;
    
    
    
}


.noticia1 {
 
    display:inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color:black;
    border-width: 3px;
    border-style:solid;
    border-radius: 10px;
    margin-bottom: 32px;
    box-shadow: 0px 0px 30px #04A596, 0px 0px 10px silver;
}
.noticia2 {
 
    display:inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color:black;
    border-width: 3px;
    border-style:solid;
    border-radius: 10px;
    margin-bottom: 32px;
    box-shadow: 0px 0px 30px #04A596, 0px 0px 10px silver;
}
.noticia3 {
 
    display:inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color:black;
    border-width: 3px;
    border-style:solid;
    border-radius: 10px;
    margin-bottom: 32px;
    box-shadow: 0px 0px 30px #04A596, 0px 0px 10px silver;
}
.noticia4 {
 
    display:inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color:black;
    border-width: 2px;
    border-style:solid;
    border-radius: 10px;
       margin-bottom: 32px;
    box-shadow: 0px 0px 30px #04A596, 0px 0px 10px silver;
}


.noticia1:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.noticia2:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.noticia3:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.noticia4:hover {
    transform: scale(1.2);
    cursor: pointer;
}


footer {
    width: 1920px;
    box-shadow: 0px 0px 30px #04A596, 0px 0px 10px silver;
}
 
.rodape {
    display: flex;
    margin-top: 20px;
    background-color: black;
    padding: 30px;
    margin-top: 30px;
    align-items: center;
    
}

.rodape a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
   
}

.rodape img {
    width: 150px;
    margin-left: 300px;
}

.rodape1 {
    display: column;
}
.rodape2 {
    display: column;
    margin-left:200px;
    

}
.rodape1 {
    display: column;
}
.rodape1 {
    display: column;
}

.sobre {
    margin-left:300px;
    font-size: 20px;
    
}

.sobre p {
    color: silver;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    right: 60px;
}

input {
    border-radius: 8px;
    position: relative;
    top: 10px;
    right: 30px;
}

button {
    border: 1px solid;
    border-radius: 8px;
    position: relative;
    right: 30px;
    top: 10px;
    
}


@media screen and (max-width: 1200px) {
    header{
        width: 1500px;
    }
    .foto-logo {
        width: 450px;
        position: relative;
        top: 20px;
    }
    nav  {
        position: absolute;
        right: 0;
        top: 25px;
    }
    .container-grid {
        position: relative;
        
    }
    .menu a {
        position: relative;
        right: 10px;
        top:25px;
    }

    p {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    .banner {
        width: 1500px;
        flex-direction: column;
        
    }
    .banner-ativo{
        width: 1500px;
        height: 400px;  
    }
 

    .link-click {
        position: relative;
        left: 100px;
    }

    .plataformas {
        width: 1500px;
    }

    .plataformas a {
        margin: 0 95px;
    }


    .noticias {
        width: 1500px;
    }

    footer {
        width: 1500px;
    }



    .direitos-rodape {
        position: relative;
        right: 500px;
    }
}


@media screen and (max-width: 768px){
    header{
        width: 1440px;
    }
    .foto-logo {
        width: 500px;
    }
   .menu {
       display: none;
       flex-direction: column;
       position: absolute;
       right: 30px;
     
   }

.menu a {
    position: relative;
    right: 415px;
    top: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    width: 140px;
    margin-top: 5px;
 

}


    .menu-barras {
        display: flex;
        width: 80px;
        position: relative;
        left: 800px;
        top: -70px;
        
    }



    .texto-banner {
        position:absolute;
     
      
        display: none;
            
    }
    
    .banner {
        width: 1400px;
    }

    .banner-ativo{
        width: 1440px;
        height: 400px;  
    }

    .link-click{
        
        border-radius: 8px;
    }
       

    .link-click a {
        position: absolute;
        left: 500px;
        
    }


    .plataformas {
        width: 1440px;
        display: none;
    }

    .plataformas img {
        width: 40px;
    }
    .titulo{
        position: relative;
        top: 200px;
        left: 340px;
       
    }
    .noticias {
        width: 1440px;
        margin-top: 300px;
        
    }

    footer {
        position: relative;
        width: 1440px;
        top: 200px;
    
       
    }


  #rodape-mestre a {
      font-size: 12px;
      position: absolute;
      top: 10px;

  }
  .menu-ativo {
      display: flex;
  }
  
}



/* *PÁGINA CADASTRO */

#cadastro-global {
 display: flex;
 height: 50vh;
 position: relative;
 top: -100px;
}

aside {
    display: flex;
    flex: 5;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-color:black;
    border-width: 300px;
    border-style:solid;
    border-radius: 0px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 30px #04A596, 0px 0px 10px silver;
    height: 400px;
    margin-top: 100px;
    border: 1px solid;
    background-color: #04A596;
}

aside h2 {
    color: white;
}



main {
    display: flex;
    flex: 5;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-color:black;
    border-width: 300px;
    border-style:solid;
    border-radius: 0px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 30px #04A596, 0px 0px 10px silver;
    height: 400px;
    margin-top: 100px;
    border: 1px solid;
    background-color: silver;
    
}

main h2 {
    color: white;
}



.login p {
    color: white;
    font-size: 16px;
}

.login input {
    width: 400px;
    padding: 9px;
    border-radius: 0px;
    border: 1px solid;
}

.acessar {
    display: flex;
}

.acessar button {
    width: 100px;
    padding: 8px;
    height: 40px;
    border-radius: 0px;
    position: relative;
    top: 30px;
    left: 115px;
    cursor: pointer;
}

.acessar button:hover{
    transform: scale(1.2);
    
}

.acessar input {
    position: relative;
    top: 42px;
    right: 65px;
}

.acessar p {
    position: relative;
    right: 250px;
    top: 9px;
    font-size: 12px;
    color: white;
}

.acessar a {
    position: relative;
    top: 34px;
    right: 220px;
    text-decoration: none;
    color: #04A596;
}


.cadastro p {
    color: white;
    font-size: 16px;
}

.cadastro input {
    width: 400px;
    padding: 9px;
    border-radius: 0px;
    border: 1px solid;
}

.cadastrar button {
    width: 130px;
    position: relative;
    right: 165px;
    border-radius: 0px;
    top: 30px;
    padding: 8px;
    cursor: pointer;
}

.cadastrar:hover {
    transform: scale(1.2);
}

